#parse("include/init_var_global.vm")
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")

import java.util.List;

import ${recordPackage}.${recordClass};
import ${jpaRecordPackage}.${jpaRecordClass};
import fr.xebia.extras.selma.IoC;
import fr.xebia.extras.selma.Mapper;

/**
 * ${recordClass}'s Mapper declaration using selma
 * @author Telosys (http://www.telosys.org/) version $generator.version
 */
@Mapper(withIoC=IoC.SPRING, withIoCServiceName="${jpaMapperInstance}")
public interface ${jpaMapperClass} {

	// This will build a fresh new ${recordClass} with in infos
	${recordClass} map(${jpaRecordClass} in);
	
	${jpaRecordClass} map(${recordClass} in);

	// This will update the given ${jpaRecordClass}
	${jpaRecordClass} map(${recordClass} in, ${jpaRecordClass} out);

	// this will build a fresh list of ${recordClass} with in infos
	List<${recordClass}> map(List<${jpaRecordClass}> in);
}
