## --- Global Variables (without reference to $entity )
#set( $recordPackage         = "${ROOT_PKG}.data.record" )
#set( $persistenceJpaPackage = "${ROOT_PKG}.persistence.impl.springdatajpa" )
#set( $jpaCommonsPackage     = "${ROOT_PKG}.persistence.impl.springdatajpa.commons" )
#set( $jpaMapperPackage      = "${ROOT_PKG}.persistence.impl.springdatajpa.mapper" )
#set( $jpaRecordPackage      = "${ROOT_PKG}.persistence.impl.springdatajpa.record" )
#set( $repositoryPackage     = "${ROOT_PKG}.persistence.impl.springdatajpa.repository" )
