#parse("include/java_header.vm")
package ${target.javaPackageFromFolder($SRC)};

import org.demo.persistence.impl.jpa.mapping.JpaMapper;
import org.demo.persistence.impl.jpa.mapping.JpaMapperProvider;

public class JpaMapperProviderImpl implements JpaMapperProvider {

	@Override
	public <JPA, POJO> JpaMapper<JPA, POJO> getMapper(Class<JPA> jpaClass, Class<POJO> pojoClass) {

		return new JpaMapperImpl<>(jpaClass, pojoClass);
	}

}
